[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
freesurfer-volume-reader = {editable = true, path = "."}

# python3.5
numpy = "<1.19.0"

[dev-packages]
# black requires python>=3.6
# https://github.com/psf/black/commit/e74117f172e29e8a980e2c9de929ad50d3769150#diff-2eeaed663bd0d25b7e608891384b7298R51
black = {version = "==19.10b0", markers="python_version >= '3.6'"}
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-timeout = "*"

# workaround https://github.com/pytest-dev/pytest/issues/3953
pathlib2 = {version = "*", markers="python_version < '3.6'"}
# fix pluggy/manager.py (v0.13.1): import importlib_metadata => ModuleNotFoundError
importlib_metadata = {version = "*", markers="python_version < '3.8'"}
# zipp v2.0.0 dropped support for python3.5
# https://github.com/jaraco/zipp/commit/05a3c52b4d41690e0471a2e283cffb500dc0329a
zipp = "<2"

[requires]
python_version = "3"

# Pipfile syntax: https://github.com/pypa/pipfile#pipfile
