[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
freesurfer-volume-reader = {editable = true, path = "."}

# python3.7 compatibility
pandas = "<1.4"
numpy = "<1.22"

[dev-packages]
black = "*"
mypy = "*"
pylint = "*"
pylint-import-requirements = "*"
pytest = "*"
pytest-cov = "*"
pytest-timeout = "*"

# python3.10 compatibility
# >   File "[...]/lib/python3.10/site-packages/mypy/main.py", line 11, in <module>
# >     from typing_extensions import Final, NoReturn
# > ModuleNotFoundError: No module named 'typing_extensions'
typing-extensions = {markers = ""}

[requires]
python_version = "3"

# Pipfile syntax: https://github.com/pypa/pipfile#pipfile
