[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
freesurfer-volume-reader = {editable = true, path = "./.."}
pandas = "*"
matplotlib = "*"
seaborn = "*"
notebook = "*"
# nbconvert v6.0.2 made `;` suffix on last line ineffective
nbconvert = "<6.3.1"

# python3.7 compatibility
ipython = "<8"
numpy = "<1.22"

# python<=3.8 compatibility
# >   File "[...]/python3.8/site-packages/jsonschema/_utils.py", line 12, in <module>
# >     import importlib_resources as resources  # type: ignore
# > ModuleNotFoundError: No module named 'importlib_resources'
importlib-resources = {markers = "python_version <= '3.8'"}
scipy = "<1.8"
# >   File "[...]/python3.8/site-packages/importlib_resources/_compat.py", line 11, in <module>
# >     from zipp import Path as ZipPath  # type: ignore
# > ModuleNotFoundError: No module named 'zipp'
zipp = {markers = "python_version <= '3.8'"}

# python3.10 compatibility
# >   File "[...]/lib/python3.10/site-packages/mypy/main.py", line 11, in <module>
# >     from typing_extensions import Final, NoReturn
# > ModuleNotFoundError: No module named 'typing_extensions'
typing-extensions = {markers = ""}

# > File "[...]/python3.9/site-packages/nbconvert/exporters/html.py", line 14, in <module>
# >  from jinja2 import contextfilter
# https://github.com/jupyter/nbconvert/issues/1742
jinja2 = "<3.1"

[requires]
python_version = "3"
