[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
freesurfer-volume-reader = {editable = true, path = "./.."}
pandas = "<1"
matplotlib = "<4"
seaborn = "<1"
notebook = "<7"

[dev-packages]
pylint = ">=2.3.0,<3"

[requires]
python_version = "3"
